BODY {
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
 }
 
 
TABLE, TD {
font-family: Arial, Helvetica, sans-serif;
font-size: 10pt;
}

h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 16pt;
  text-align: right; 
  font-style: normal; 
  font-weight: bold; 
  color: #777777;
  }
  
h2 {
font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 13pt; 
  font-style: normal; 
  font-weight: bold; 
  color: #888888;
  }
  
  
.texte?? {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 9pt; 
  text-transform: none; 
  color: #000000;
  }
  
.menu1 {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 9pt;  
  }

.menu2 {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 8pt;  
  }
  
a:link {
  color: #336699;
  text-decoration: none;
  }
  
a:visited {
  color: #cc6600;
  text-decoration: none;
  }
  
a:hover {
 color: #336699;
 text-decoration: none;
  }
  
.titre_rubrique {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; color: #336699; font-weight: bold; clip:   rect(   ); text-indent: 8px}

.pied {
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 8pt; 
  font-style: normal; 
  }

 
 
TABLE { background-color: #FFCC99 }